body {
  background-color: whitesmoke;
}

.pusher {
  margin-bottom: 20px;
}
.postItem {
  max-width: 100%;
  min-width: 100%;
}
.form {
  margin-right: 400px;
  margin-left: 400px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ui.footer img {
  max-width: 55px;
}

.ui.sticky.footer.segment {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}
