.pusher {
  margin-bottom: 20px;
}
.postItem {
  max-width: 100%;
  min-width: 100%;
}
.form {
  margin-right: 400px;
  margin-left: 400px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
